@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: darkolivegreen; 
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative; /* Ensure proper stacking context */
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 107, 47, 0); 
    transition: background-color 0.3s ease;
}

nav ul li a:hover::before {
    background-color: rgba(85, 107, 47, 0.5); 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-menu {
    display: block;
    transition: background-color 0.3s ease;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    height: 400px;
}

/* Slides */
.slideshow-slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease; /* Fade transition */
}

/* Show active slide */
.slideshow-slide.active {
    opacity: 1;
}

.slideshow-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Dots for navigation */
.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.dot.active, .dot:hover {
    background-color: darkolivegreen;
}

#vision-mission, #business-need-waste {
    padding: 2em;
    text-align: center;
}

#vision-mission {
    background-color: #f0f0f0;
}

#business-need-waste {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 2em 0;
}

.section-item {
    flex: 1;
    padding: 1em;
    margin: 0 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.section-item h2 {
    color: darkolivegreen;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
