@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background-color: darkolivegreen; 
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    position: relative; /* Ensure proper stacking context */
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 107, 47, 0); 
    transition: background-color 0.3s ease;
}

nav ul li a:hover::before {
    background-color: rgba(85, 107, 47, 0.5); 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    border-radius: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-menu {
    display: block;
}

#register-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#register-button:hover {
    background-color: #cc3700;
}

.recipient-section {
    position: relative;
    width: 100%;
    height: 400px;
    background: url('../../assets/rec.webp') no-repeat center center/cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: white;
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.content hr {
    width: 50px;
    border: 1px solid white;
    margin: 20px auto;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.your-orders-section {
    margin-top: 40px;
}

.your-orders-section h2 {
    color: darkolivegreen;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

#ordersTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#ordersTable th, #ordersTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#ordersTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#ordersTable tbody tr:hover {
    background-color: #f9f9f9;
}

.no-orders-message {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}


.no-orders-message {
    font-size: 18px;
    color: #333; 
    padding: 10px; 
    background-color: #f0f0f0; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}